{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}تغییر رمز عبور کاربری{% endblock title %}
{% block body %}
    <div class="d-flex justify-content-center mt-5" dir="rtl">
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
            <form method="post">
                {% csrf_token %}
                <h4 class="text-center">تغییر رمز عبور کاربری</h4>
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary mt-3 w-100">تایید</button>
            </form>
        </div>
    </div>
{% endblock body %}