{% extends '_base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock title %}
{% block body %}
    <div class="d-flex justify-content-center mt-5" dir="rtl">
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
            <form method="post">
                {% csrf_token %}
                <h1 class="text-center">ثبت نام</h1>
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary mt-3 w-100">ثبت نام</button>
                <div class="line-with-middle-sep">
                    <span>
                    یا
                    </span>
                </div>
                <a class="btn btn-success mt-2 mb-3 w-100" href="{% url 'login' %}">وارد شوید</a>
            </form>
        </div>
    </div>
{% endblock body %}