{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}جزئیات کتاب {{ book.title | capfirst }}{% endblock title %}
{% block body %}
    <div class="container mt-5" dir="rtl">
        <div class="">
            <div class="">
                <div class="d-flex justify-content-center">
                    <div class="row w-sm-75 w-100">
                        <div class="col-xs-12 col-md-3 d-flex justify-content-center">
                            <div>
                                {% if book.cover %}
                                    <img src="{{ book.cover.url }}"
                                         class="img-fluid rounded-start" alt="...">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 text-center text-md-end mt-md-1 mt-4">
                            <h1>{{ book.title | capfirst }}</h1>
                            <h5 class="small my-1"><span class="text-muted">نویسنده: </span>{{ book.author | capfirst }}
                            </h5>
                            <h5 class="small my-1"><span class="text-muted">ایجاد: </span>{{ book.user.username | capfirst }}
                            </h5>
                        </div>
                        <div class="col-xs-12 col-md-3 d-flex flex-column">
                            <h3 class="align-self-center pt-2 text-muted align-self-md-end">
                                قیمت :  $ {{ book.price }}
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="my-3 p-5 w-sm-75 w-100">
                        {{ book.description | capfirst | linebreaks }}
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <div class="mb-3">
                            {% if book.user == user %}

                            <a href="{% url 'book_update' book.id %}">
                                <button class="btn btn-warning mt-3" type="button">ویرایش</button>
                            </a>
                            <br>
                            <a href="{% url 'book_delete' book.id %}">
                                <button class="btn btn-danger mt-3" type="button">حذف</button>
                            </a>
                            {% endif %}
                            <br>
                            <a href="{% url 'book_list' %}">
                                <button class="btn btn-info mt-3" type="button">لیست همه کتاب ها</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h2 class="mb-5">نظرات:</h2>
                        {% for comment in comments %}
                            {% if comment.is_active %}
                                <div class="border-bottom mb-3">
                                    <h5 class="mb-3">{{ comment.user.username | capfirst }}</h5>
                                    {% if comment.recommend %}
                                        <p>این کتاب را توصیه می کنم</p>
                                    {% else %}
                                        <p>این کتاب را توصیه نمی کنم</p>
                                    {% endif %}
                                    <p>{{ comment.text | linebreaks | capfirst }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h3>نظر خود را وارد کنید:</h3>
                        <form method="POST">
                            {% csrf_token %}
                            {{ comment_form | crispy }}
                            <button type="submit" class="btn btn-primary mt-3">ارسال</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}